@use '../../../styles/variables';
@use '../../../styles/mixins';

footer {
  border-top: 1px solid white;
  padding: 3rem 5rem;
  color: variables.$gray-400;
  font-size: 0.9rem;
  a {
    cursor: pointer;
  }
}

.footer-container {
  display: flex;
  padding-bottom: 2rem;
  border-bottom: 1px solid variables.$gray-800;
}

.brand-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  max-width: variables.$container-sm;

  .logo-container {
    @include mixins.row-center;
    gap: 0.5rem;

    .v-logo {
      @include mixins.row-center;
      height: 2rem;
      width: 2rem;
      border-radius: 100%;
      background-color: white;
      color: variables.$gray-950;
      font-size: 1.5rem;
      font-weight: 800;
    }

    .audio-logo {
      color: white;
      font-size: 1.5rem;
    }
  }
  .social-icons {
    @include mixins.row-center;
    gap: 1rem;
    a {
      @include mixins.row-center;
      height: 2.5rem;
      width: 2.5rem;
      background-color: variables.$gray-800;
      border-radius: 100%;
      transition: all 0.2s ease-in-out;
    }
    .my-icon {
      color: variables.$gray-400;
      transition: all 0.2s ease-in-out;
    }
    a:hover {
      background-color: white;
      .my-icon {
        color: variables.$gray-950;
      }
    }
  }
}

.links-column {
  flex: auto;
  @include mixins.row-center;
  gap: 3rem;
  .link-group {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    h4 {
      color: white;
    }
    .link-list-wrapper {
      ul {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 1rem;
      }
    }
  }
}

.trust-container {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;

  .features {
    display: flex;
    gap: 1rem;
    .feature-item {
      @include mixins.row-center;
      gap: 0.5rem;
    }
  }

  .payment-methods {
    @include mixins.row-center;
    gap: 0.5rem;
    .visa {
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-style: italic;
      font-weight: bold;
      font-size: 1rem;
    }
    .pay {
      font-weight: bold;
      font-size: 1rem;
      .pal {
        font-style: italic;
        color: variables.$gray-600;
      }
    }
  }
}

.legal-container {
  display: flex;
  justify-content: space-between;

  .copyright-wrapper {
    display: flex;
    gap: 1rem;
  }

  .region-selector {
    color: variables.$gray-400;
  }
}
