<footer>
  <div class="footer-container">
    <div class="brand-column">
      <div class="logo-container">
        <span class="v-logo">V</span>
        <span class="audio-logo">AUDIO</span>
      </div>
      <p>Ingeniería acústica de vanguardia. Creamos herramientas para los puristas del sonido.</p>

      <div class="social-icons">
        @for (icon of socialIcons; track $index) {
        <a [href]="icon.url" target="_blank">
          <lucide-icon [img]="icon.FileIcon" class="my-icon" [size]="20"></lucide-icon>
        </a>
        }
      </div>
    </div>

    <div class="links-column">
      @for (section of footerLinks; track $index) {
      <div class="link-group">
        <button class="accordion-toggle">
          <h4>{{ section.title }}</h4>
        </button>
        <div class="link-list-wrapper">
          <ul>
            @for (link of section.links; track $index) {

            <li>
              <a>{{ link }} </a>
            </li>
            }
          </ul>
        </div>
      </div>
      }
    </div>
  </div>

  <div class="trust-container">
    <div class="features">
      <div class="feature-item">
        <lucide-icon [img]="ShieldCheck" [size]="18"></lucide-icon>
        <span>Pagos Seguros SSL</span>
      </div>
      <div class="separator"></div>
      <div class="feature-item">
        <lucide-icon [img]="Globe" [size]="18"></lucide-icon>
        <span>Envíos Internacionales</span>
      </div>
    </div>

    <div class="payment-methods">
      <lucide-icon [img]="CreditCard" [size]="25" class="credit-card"></lucide-icon>
      <span class="visa">VISA</span>
      <span class="pay"> Pay<span class="pal">Pal</span> </span>
    </div>
  </div>

  <div class="legal-container">
    <div class="copyright-wrapper">
      <span>© 2026 AURA Audio Inc.</span>
      <div class="legal-links">
        <a routerLink="/privacy"> Privacidad </a>
        <a routerLink="/cookies"> Cookies </a>
        <a routerLink="/terms"> Términos </a>
      </div>
    </div>

    <button class="region-selector">
      <span>España — EUR</span>
    </button>
  </div>
</footer>
