<header>
  <nav>
    <div class="logo-container">
      <span class="v-logo">V</span>
      <span class="audio-logo">AUDIO</span>
    </div>
    <div class="collection-container">
      <a class="nav-link" href="">Auriculares</a>
      <a class="nav-link" href="">Altavoces Bluetooth</a>
      <a class="nav-link" href="">Audio para el hogar</a>
    </div>
    <div class="action-container">
      <a class="action-link" href=""><span class="material-symbols-outlined">search</span></a>
      <a class="action-link" href=""><span class="material-symbols-outlined">person</span></a>
      <a class="action-link" href=""
        ><span class="material-symbols-outlined">shopping_cart</span></a
      >
    </div>
  </nav>
</header>
