@use '../../../styles/variables';
@use '../../../styles/mixins';

header {
  position: fixed;
  width: 100%;
}

nav {
  @include mixins.row-center;
  justify-content: space-between;
  padding: 1rem 3rem;
  color: white;
}

.logo-container {
  @include mixins.row-center;
  gap: 0.5rem;
}

.v-logo {
  @include mixins.row-center;
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
  background-color: white;
  color: variables.$gray-950;
  font-size: 1.5rem;
  font-weight: 800;
}

.audio-logo {
  font-size: 1.5rem;
}

.collection-container {
  @include mixins.row-center;
  gap: 1rem;
  a:hover {
    color: variables.$primary;
  }
}

.action-container {
  @include mixins.row-center;
  gap: 1rem;
  a:hover {
    color: variables.$gray-500;
  }
}
