@use './variables';

@mixin column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
