// src/styles/_reset.scss
@use './variables';
@use './mixins';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

// Eliminar márgenes por defecto de todo
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

// Configuración base del cuerpo
body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: variables.$gray-950; // Ahora funcionará correctamente
  color: variables.$gray-500;
  font-family: Inter, Arial, Arial, Helvetica, sans-serif;
}

// Mejorar visualización de multimedia
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

// Eliminar estilos de lista (muy útil para menús en Angular)
ul,
ol {
  list-style: none;
}

// Botones con puntero por defecto
button {
  cursor: pointer;
  background: none;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}
